body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-wrapper {
	background: linear-gradient(-45deg, #9975FF, #7751C8,  #53209F, #7751C8, #9975FF);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

.welcome-background-main {
  background: url(background.jpg) no-repeat rgb(232, 211, 255);
  background-size: 100% calc(100vh - 90px);
}

.welcome-background-second {
  height: 100vh;
}

.rose {
  background-color: #9975FF;
}

.violet {
  background-color: #53209F;
}

.welcome-container {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-header {
  background: #9975FF;
  border-radius: 0 150px 150px 0;
  width: 1000px;
  height: 150px;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 125px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  top: 250px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game-mode-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.game-rules {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}

.form_radio_btn input[type=radio] {
	display: none;
}

.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
  border: 1px solid black;
	border-radius: 6px;
	user-select: none;
}

.form_radio_btn input[type=radio]:checked + label {
	background: #6a67fc73;
  color: black
}

.form_radio_btn label:hover {
  background-color:rgba(255, 255, 255, 0.5);
}